<ul class="navbar-nav">

    <li class="nav-item">
       @User.Identity?.Name
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Auth" asp-action="Logout" 
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Se déconnecter</button>
        </form>
    </li>  

    <li class="nav-item">
        <a class="nav-link" asp-controller="Auth" asp-action="Login">Connexion</a>
    </li>

</ul>