@model Frontend.Models.Note

@*  ? Maybe id should user PatientNotesViewModel *@
@* BUG: Not working currently still WIP*@


@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Note</title>
</head>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<body>

    <h4>Note</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="PatientId" value="@ViewBag.PatientId" />
                <div class="form-group">
                    <label>Patient</label>
                    <input type="text" value="@ViewBag.FirstName @ViewBag.LastName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                @* NOW: Display First Name and Last Name of the Patient + the username of the Practitioner currently creating a note*@
                <div class="form-group">
                    <label asp-for="Body" class="control-label">Content</label>
                    <textarea asp-for="Body" class="form-control"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                @* DONE : must also return the id of the patient for who the note was created*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>
