@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

<form asp-controller="auth" asp-action="login" method="post" novalidate>
    <div class="form-group">
        <label asp-for="Username">
            <input asp-for="Username" class="form-control" required placeholder="Entrez votre nom d'utilisateur"/>
            <span asp-validation-for="Username" class="text-danger"></span>
            Nom d'utilisateur
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Password">
            <input asp-for="Password" class="form-control" type="password" required
                   placeholder="Entrez votre mot de passe"/>
            <span asp-validation-for="Password" class="text-danger"></span>
            Mot de passe
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>

<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            console.log("Login form submitted");
            console.log("Username: " + $("#Username").val());
            console.log("Password: " + $("#Password").val());
            console.log("RememberMe: " + $("#RememberMe").is(":checked"));
        });
    });
</script>
<script src="~/js/login.js"></script>